About: "The validator MUST check expiration time of cached	
 	   cryptographic objects against the time when the local cache of the	
 	   repository was last successfully refreshed rather than the time when	
 	   the expiration check is performed."

if the expiry time is stated as a date and time of day (e.g., UTC), then it need not be checked against anything. We need to find out if it says x hours or specifies an UTC time/date.  




About: "If the local cache of any repository required for BAR-SAV computation is unavailbale..."

do you mean unavailable due to expired MFTS/CRLs? I think perhaps we need not comment about downtime of the local cache. Perhaps we assume it is available as long as the router is up and running. So, we speak of "unavailable" only in the sense of expired objects. No?



There are spelling errors like... unavailbale, Temporarelly, Missinfg, etc. You may like to copy the .txt into MS word and run a spelling/grammar check in the end.

In Section 6.2, we can add the following sentence in the middle (before the sentence that begins with 'Note that routing policies...'):

If there is full adoption of ASPA and ROA in the CC of interest, then the list of plausible source address prefixes will be complete with zero improper drop and improper admit.

@ksriram25 Next time, please, add a comment in the "Files Changed" view against the line you are commenting on. That way:
1. You do not need to copy the text
2. More importantly, we can have multiple discussion threads.

> About: "If the local cache of any repository required for BAR-SAV computation is unavailbale..."
> 
> do you mean unavailable due to expired MFTS/CRLs? I think perhaps we need not comment about downtime of the local cache. Perhaps we assume it is available as long as the router is up and running. So, we speak of "unavailable" only in the sense of expired objects. No?

MFTS/CRLs should not be allowed to *effectively* expire.  If you could not fetch the latest version from the repository, you just use the cached version, and if it was originally fetched unexpired, you can use the cached version forever.  But MFTS/CRLs is already expired as you have just fetched it from the repository, you SHOULD discard it and treat it as a failure to fetch -- so continue using the previously fetched version.  I'll add text about this.

So what I meant here is things like a local filesystem corruption that makes one of the repository cached unavailable.

I am not sure I completely follow what is being discussed  WRT BAR-SAV resilience to repository failures / RPKI object life times.

We should think carefully about effectively defining a variant version of the RPKI validation algorithm and the idea that a stale entry lasts forever.   I guess  we could be suggesting that it is not the actual X-509 validation algorithm we are changing but how the router manages the database after validation.   But even there we need to special case BAR-SAV semantics vs RPKI-ROV semantics.   

Stale entries that last forever historically have caused many problems in IRRs.    The fact that objects expire in the RPKI is a feature not a bug.


@dougm-nist Thanks for the feedback.  We are certainly defining not an update to X-509 validation but update to to cache management for SAV.  In fact, I kind of expect whatever we write here to be transplanted into its own draft before BAR-SAV is published as an RFC, because there are other users of RPKI that are likely to fail closed if the implementation is not careful enough.

We are addressing two "lifetime extensions" of objects:

1. When a cache cannot be refreshed, continue to use whatever was valid when it was last refreshed.

2. Continue to use an object whose certificate is still valid AND is not on the latest CRL, even if it somehow disappeared from the MFT.  This usage is pretty much allowed by RFC 9286 Section 6: "files not listed on a manifest MAY be employed to validate other signed objects, if the profile of the object type explicitly states that such behavior is allowed (or required)."